.header{
    background-color: #d7fae5;
    margin: 0;
    padding: 30px 30px 30px 50px;
    background-image: url("../src/preyBackgr.jpg");
    -webkit-background-size: 100%;
    width: 1809px;
    vertical-align: auto;
    filter: blinds(100);
    background-repeat: no-repeat;

}

.ah{
    color: white;
}

h1{
    color: white;
}

.h3h{
    color: white;
}

/* alatsi-regular - latin */
@font-face {
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alatsi-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/alatsi-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/alatsi-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/alatsi-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/alatsi-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/alatsi-v9-latin-regular.svg#Alatsi') format('svg'); /* Legacy iOS */
}

body{
    --bgcolor: #b6d4fe;
    --padding: 20px 20px 20px 20px;
    font-family: 'Alatsi';
    font-style: normal;
    font-size: large;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 0;
}
footer{
    background-color: var(--bgcolor);
}

main{
    background-color: var(--bgcolor);
    text-align: center;
    font-size: larger;
    margin: 0;
}

.main1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wrapper{
    max-width: 1000px;
    min-height: 250px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}

.mainIllustration{
    position: center;
}

.logo{
    display: flex;
    flex-basis: 10%;
}

.logo li{
    display: inline;
}

.nav1{
    display: flex;
    flex-basis: 90%;
    justify-content: right;
}

.nav1 li{
    display: inline;
}

.nav1 a{
    display: inline-block;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
}

